
body {
    background-image: url(background3.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    
}

header {
    background-color: #000000ac;
    width: 100vw;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.titulo {
    color: #b260ff;
    font-size: 9vh;
    margin: 5vh;
    text-shadow: 2px 2px 2px black;
    font-family: 'Roboto', sans-serif;
}


.subtitulo {
    font-size: 4vh;
    color: #777777;
    margin: 1vh;
    font-family: 'Roboto', sans-serif;
}

.escolhaaforma {
    font-size: 6vh;
    color: #9d9d9d;
    margin: 6vh;
}

.nomedaforma {
color: #8248b8;
font-size: 6vh;
text-shadow: 2px 2px 2px black;
margin: 2vh;
}

.descrição {
    color: #a38bba;
    font-size: 4vh; 
    margin: 4vh;   
}

main {

    text-align: center; 
    top: 50%; 
    left: 50%; 
    padding: 10px;
    margin-left: 50vh;
    margin-right: 50vh;
    background-color:  #00000084;
}


img {
    width: 20vw;
    margin: 4vh;
}

.forma {
    transition: transform 0.5s, background-color 0.5s; 
}


.forma:hover {
    transform: scale(1.1); 
    background-color: #141414bf; 
}


footer {
    background-color: #000000cd;
    width: 100vw;
    height: 20vh;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

.redes-sociais img {
    width: 3vw;
    transition: transform 0.4s;
}

.redes-sociais img:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: inherit; 
}
.rodape {
    color: white;
    margin: 10px;
}